<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log("Ready");
            // SearchProduct(999999999);
            $(".searchPro").keydown(function (key) {
                if (key.keyCode == 13) {
                    console.log($(".searchPro").val())
                    // alert($('div[contenteditable=plaintext-only]').text())
                }
            });

            // $.ajax({
            //     url: "/api/products/" + foodId,
            //     type: 'get',
            //     dataType: "json",
            //     success: function (json) {
            //         // MakeDiv(json)
            //         // SearchProduct(json[2].id)
            //         console.log(json.steps[0].equipment)
            //         console.log(json.steps[0].ingredients)
            //     },
            //     error: function () {
            //         alert("다시 입력하세요.")
            //     }
            // });

            // $("#test").mousedown(function () {
            //     ProName = $("#name").val();
            //     ProDescription = $("#description").val();
            //     if (ProName == '' || ProDescription == '') {
            //         alert("다시 입력하세요.")
            //     } else {
            //         var allData = new Object();
            //         allData.name = ProName;
            //         allData.description = ProDescription;
            //
            //         // alert(JSON.stringify(allData))
            //
            //         $.ajax({
            //             url: "/api/products",
            //             type: 'post',
            //             data: JSON.stringify(allData),
            //             dataType: "json",
            //             contentType: 'application/json'
            //         }).done(function (json) {
            //             alert("전송 완료");
            //         });
            //     }
            // });
            //
            // $("#search").keydown(function (key) {
            //     if (key.keyCode == 13) {
            //         $('#result').empty();
            //         SearchProduct(999999999);
            //     }
            // });
            //
            // $("#btnSearch").mousedown(function () {
            //     $('#result').empty();
            //     SearchProduct(0);
            // });
            //
            // function SearchProduct(number) {
            //     console.log(number)
            //     $.ajax({
            //         url: "/api/products/test/" + number,
            //         type: 'get',
            //         dataType: "json",
            //         success: function (json) {
            //             MakeDiv(json)
            //             SearchProduct(json[2].id)
            //         },
            //         error: function () {
            //             alert("다시 입력하세요.")
            //         }
            //     });
            // }
            //
            // function MakeDiv(json) {
            //     for (j = 0; j < json.length; j++) {
            //         $('#result').append('<div class="result" id="name">' + "상품분류 : " + json[j].id + '</div>')
            //         $('#result').append('<div class="result" id="description">' + "상품정보 : " + json[j].title + '</div>')
            //         $('#result').append('<img src = ' + json[j].image + ' />')
            //     }
            // }

            // function SearchProduct(){
            //     $('#result').empty();
            //     SearchTxt = $("#search").val();
            //     $.ajax({
            //         url: "/api/products/" + SearchTxt,
            //         type: 'get',
            //         dataType: "json"
            //     }).done(function (json){
            //         alert("완료")
            //         // alert(json.length)
            //         // alert(json[0].id)
            //         for(i = 0; i < json.length; i++){
            //             $('#result').append('<div class="result" id="name">'+"상품분류 : "+json[i].id+'</div>')
            //             $('#result').append('<div class="result" id="description">'+"상품정보 : "+json[i].title+'</div>')
            //             $('#result').append('<img src = ' + json[i].image + ' />')
            //         }
            //     }).fail(function (){
            //         alert("다시 입력하세요.")
            //     });
            // }
        });
    </script>
</head>
<body>
<input class="searchPro">
<!--Id Test :-->
<!--<th:block th:each="userId: ${id}">-->
<!--    <a th:href="@{/(id=${userId})}"> User [[${userId}]]</a> <br/>-->
<!--    <div id="id" style="display: none">[[${id}]]</div>-->
<!--</th:block>-->
<!--상품분류 :<br>-->
<!--<input type="text" name="name" id="name"><br>-->
<!--상품정보 :<br>-->
<!--<input type="text" name="description" id="description"><br>-->
<!--<button id="test">test</button>-->
<!--<br>-->
<!--<br>-->
<!--<input type="text" name="search" id="search">검색<br>-->
<!--<button id="btnSearch">SEARCH</button>-->
<!--<div id="result"></div>-->
</body>
</html>